.card{
  
    border: none;
    height: 440px;

  }
  /* .btn{
    width: 210px;
   margin-left: 3rem;
  }
   */
   .fixed-top {
    position: fixed;
    margin-top: 0;
    padding-top: 0;
   
  }